@tailwind base;
@tailwind components;
@tailwind utilities;

.default-container {
	@apply max-w-6xl mx-auto;
}

.stretched-link::after {
	content: "";
	@apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
}

@layer base {
	h1 {
		@apply text-4xl font-semibold;
	}

	h2 {
		@apply text-3xl font-semibold;
	}

	h3 {
		@apply text-2xl font-semibold;
	}

	h4 {
		@apply text-xl font-semibold;
	}
}

@layer components {
	.btn-primary-sm {
		@apply bg-primary-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary {
		@apply bg-primary-800 px-4 py-3 font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary-lg {
		@apply bg-primary-800 px-6 py-4 text-lg font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary-xl {
		@apply bg-primary-800 px-8 py-5 text-xl font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
}
