<div class="bg-primary text-xs">
    <div class="default-container py-8 px-8">
        <div class="grid grid-cols-4 gap-6">
            <div class="col-span-2 md:col-span-1">
                {% image 'static/img/banner-logo.png', "Thalyn Diamond brand logo", "600px" %}
            </div>
            <div class="md:hidden"></div>
            <div class="text-white font-fahkwang font-extralight col-span-4 md:col-span-2 lg:col-span-1">
                <h3 class="text-lg font-medium mb-4">Contact us</h3>
                <p>
                    Call: (+66) 099 639 6445<br/> Email:
                    <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a><br/> <br/> Address: <br/>Wasabi Park 2nd floor, Mahidol
                        Road, Chiang Mai
                </p>
            </div>
            <div class="text-white font-fahkwang font-extralight col-span-4 md:col-span-1">
                <h3 class="text-lg font-medium mb-4">Follow us</h3>
                <div class="flex gap-4">
                    <a href="https://www.instagram.com/thalyndiamond/" aria-label="Instagram">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://tiktok.com/@thalyndiamond.th" aria-label="Tiktok">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" class="h-6 text-white fill-white">
                            <!-- !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free
                            Copyright 2024 Fonticons, Inc. -->
                            <path d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88
                                0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"/></svg>
                    </a>
                    <a href="https://maps.app.goo.gl/d2TxMNfXejHmBUBB7" aria-label="Google maps">
                        <i class="fas fa-map fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>