---
layout: layouts/base.njk
title: ข้อมูลการติดต่อ - Thalyn Diamond
description: ข้อมูลสำหรับติดต่อ Thalyn Diamond เพื่อเนรมิตรเพชรของคุณ
eleventyNavigation:
  key: Contact us
  order: 3
---

<div class="relative isolate border">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden bg-neutral-50 ring-1 ring-gray-900/10 lg:w-1/2">
          <svg
            class="absolute inset-0 h-full w-full stroke-gray-200 stroke-2
              [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
            aria-hidden="true">
            <defs>
              <pattern
                id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527"
                width="200"
                height="200"
                x="100%"
                y="-1"
                patternunits="userSpaceOnUse">
                <path d="M130 200V.5M.5 .5H200" fill="none"/>
              </pattern>
            </defs>
            <rect width="100%" height="100%" stroke-width="0" fill="white"/>
            <svg x="100%" y="-1" class="overflow-visible fill-gray-50">
              <path d="M-470.5 0h201v201h-201Z" stroke-width="0"/>
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)"/>
          </svg>
        </div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900">ติดต่อเรา</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          หากคุณมีคำถามหรือข้อสงสัยใด ๆ เกี่ยวกับเพชรของเรา หรือต้องการข้อมูลเพิ่มเติม โปรดติดต่อเราผ่านช่องทางด้านล่างนี้
          หรือใช้ฟอร์มติดต่อเพื่อส่งข้อความถึงเราได้เลยค่ะ
        </p>
        <dl class="mt-10 space-y-4 text-base leading-7 text-gray-600">
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Telephone</span>
              <svg
                class="h-7 w-6 text-gray-400"
                fill="none"
                viewbox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0
                    002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97
                    1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0
                    01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0
                    00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"/>
              </svg>
            </dt>
            <dd>
              <a class="hover:text-gray-900" href="tel: {{ contacts.phone[0] }}">{{ contacts.phone[1] }}</a>
            </dd>
          </div>
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Email</span>
              <svg
                class="h-7 w-6 text-gray-400"
                fill="none"
                viewbox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25
                    2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0
                    01-1.07-1.916V6.75"/>
              </svg>
            </dt>
            <dd>
              <a class="hover:text-gray-900" href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {% include 'components/contact-form.njk' %}
  </div>
</div>
<div class="default-container py-24">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777.860362664949!2d99.0150534759902!3d18.75977328238085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da2f005b98c50f%3A0xf932ec321dd57ace!2zVGhhbHluIERpYW1vbmQg4LmA4Lie4LiK4LijIExhYiBHcm93biDguYDguIjguYnguLLguYHguKPguIHguYDguIrguLXguKLguIfguYPguKvguKHguYg!5e0!3m2!1sen!2sth!4v1726018578129!5m2!1sen!2sth"
    width="100%"
    height="600"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>