---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="min-h-[500px] flex items-center relative">
  <div class="grid md:grid-cols-2 max-w-4xl mx-auto">
    {% image "static/img/banner-logo.png", "Banner image" %}
  </div>
  <div class="absolute inset-0 -z-10 [&_picture]:min-h-full [&_img]:h-full [&_img]:md:w-full [&_img]:object-cover
      [&_picture]:md:-bottom-[100px]">
    {% image "static/img/large-banner.png", "Thalyn background image", "1440px" %}
  </div>
</div>
<div class="bg-primary">
  <div class="default-container">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="[&_img]:object-cover [&_img]:h-full">
        {% image "static/img/store-black-and-white.png", "Storefront", "600px" %}
      </div>
      <div class="p-10 py-10">
        {% image "static/img/lab-grown-diamond.png", "Lab grown diamon" %}
        <p class="text-white font-prompt font-extralight mb-4 mt-4">
          <span class="font-normal">Lab-Grown Diamond</span>
          คือ
          <span class="font-normal">“เพชรแท้”</span>
          ที่มีคุณสมบัติทาง กายภาพ และการเล่นของแสงเช่นเดียวกับ “เพชรธรรมชาติ”
          โดยไม่สามารถแยกออกได้ด้วยตาเปล่า</p>
        <p class="text-white font-prompt font-extralight">
          เพชร Lab Grown นี้
          <span class="font-normal">“มนุษย์”</span>
          เป็นผู้สร้างขึ้น โดยจำลองการ เกิดเพชรแบบธรรมชาติ ซึ่งเพชร Lab Grown มีองค์ประกอบ
          ทางเคมีและคุณสมบัติเหมือนกับเพชรที่เกิดขึ้นจากธรรมชาติทุก ประการ ต่างกันเพียงเรื่องแหล่งกำเนิด</p>
      </div>
      <div class="flex items-center lg:py-12">
        {% image "static/img/hand-on-chest.png", "Hand with diamond", "400px" %}
      </div>
    </div>
  </div>
  <div class="bg-parchment px-6">
    <div class="default-container py-16">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% image "static/img/thalyn-red.png", "Thalyn Diamond brand logo", "400px" %}
        {% for product in collections.products|head(7) %}
          <div>
            {% image eleventy.env.root + product.data.thumbnail, product.data.name, "400px" %}
            <h4 class="mt-4 font-fahkwang md:text-xl font-semibold text-primary mb-2 md:mb-4">{{ product.data.name }}</h3>
            <p class="font-fahkwang text-primary mb-2 md:mb-4">{{ product.data.description }}</p>
            <p class="font-fahkwang text-sm font-semibold text-primary">{{ product.data.price }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="bg-primary">
    <div class="default-container">
      <div class="grid md:grid-cols-3">
        <div class="bg-center bg-cover relative">
          {% image 'static/img/focus-hand.png', "Ring on the hand", "600px" %}
          <div class="absolute inset-0 py-24 px-14 md:px-6 lg:px-10">
            {% image 'static/img/thalyn-lab-grown-diamon.png', 'Thalyn diamond brand logo', "600px" %}
          </div>
        </div>
        <div class="pt-36 px-8 lg:px-24 flex items-end pb-12 bg-top bg-cover md:col-span-2 relative overflow-hidden">
          <p class="text-white font-prompt font-extralight z-10">
            <span class="font-medium">Thalyn Diamond</span>
            ประสบการณ์เกือบ 50 ปี ส่งต่อจากรุ่นสู่รุ่น โดยเริ่มจากความเชี่ยวชาญของคุณพ่อ ที่เป็นช่างคัดเพชร ช่างทอง
            ด้วยพฤติกรรมของคนยุคใหม่ที่เปลี่ยนไป จึงได้ทำการ
            <span class="font-medium">"Rebranding"</span>
            ร้านเพชรให้เข้าถึงง่าย ทุกคนเข้าถึงเพชรเม็ดใหญ่ คุณภาพดี ในราคาจับต้องได้  จึงเป็นที่มาของ
            <span class="font-medium">"Thalyn Diamond" เพชรแท้ LabGrown
            </span>
            เจ้าแรก เจ้าเดียวในเชียงใหม่ ใหญ่ที่สุดในภาคเหนือ และเรายังมีสาขาที่ กรุงเทพ
                        อีกด้วย
          </p>
          <div class="absolute inset-0">
            {% image 'static/img/store-black-and-white-2.png', "Thalyn Diamond storefront", "1000px" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-parchment">
    <div class="default-container py-20">
      <div class="grid md:grid-cols-2">
        <div class="mb-6">
          <div class="flex justify-center mb-6">
            {% image "static/img/gia-01.png", "GIA certified diamonds", "180px" %}
          </div>
          <h3 class="font-fahkwang text-center text-primary font-medium text-xl mb-2">
            GIA (Gemological Institute of America)
          </h3>
          <p class="font-prompt text-primary text-center px-10 lg:px-20">
            สถาบันอัญมณีศาสตร์ของอเมริกา มีชื่อเสียงมาก ทั่วโลกให้การยอมรับ เป็นผู้กำหนดมาตรฐานของเพชร รายแรก ๆ ของโลก
          </p>
        </div>
        <div>
          <div class="flex justify-center">
            {% image "static/img/gia-02.png", "I.G.I. certified diamonds", "250px" %}
          </div>
          <h3 class="font-fahkwang text-center text-primary font-medium text-xl mb-2">
            IGI (International Gemological Institute)
          </h3>
          <p class="font-prompt text-primary text-center px-10 lg:px-20">
            สถาบันตรวจสอบเพชร ที่มีสาขากระจายอยู่ทั่วโลก มีห้องแล็บสำหรับการวิจัย เพื่อตรวจสอบเพชรและอัญมณีต่าง ๆ
          </p>
        </div>
      </div>
    </div>
  </div>
</div></div>