---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="min-h-[500px] flex items-center relative">
  <div class="grid md:grid-cols-2 max-w-4xl mx-auto">
    {% image "static/img/banner-logo.png", "Banner image" %}
  </div>
  <div class="absolute inset-0 -z-10 [&_picture]:min-h-full [&_img]:h-full [&_img]:md:w-full [&_img]:object-cover
      [&_picture]:md:-bottom-[100px]">
    {% image "static/img/large-banner.png", "Thalyn background image", "1440px", undefined, false %}
  </div>
</div>
<div class="bg-primary">
  <div class="default-container">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="[&_img]:object-cover [&_img]:h-full">
        {% image "static/img/store-black-and-white.png", "Storefront", "600px" %}
      </div>
      <div class="p-10 py-10">
        {% image "static/img/lab-grown-diamond.png", "Lab grown diamon" %}
        <p class="text-white font-prompt font-extralight mb-4 mt-4">
          <span class="font-normal">Lab-Grown Diamond</span>
          คือ
          <span class="font-normal">“เพชรแท้”</span>
          ที่มีคุณสมบัติทาง กายภาพ และการเล่นของแสงเช่นเดียวกับ “เพชรธรรมชาติ”
                    โดยไม่สามารถแยกออกได้ด้วยตาเปล่า</p>
        <p class="text-white font-prompt font-extralight">
          เพชร Lab Grown นี้
          <span class="font-normal">“มนุษย์”</span>
          เป็นผู้สร้างขึ้น โดยจำลองการ เกิดเพชรแบบธรรมชาติ ซึ่งเพชร Lab Grown มีองค์ประกอบ
          ทางเคมีและคุณสมบัติเหมือนกับเพชรที่เกิดขึ้นจากธรรมชาติทุก ประการ ต่างกันเพียงเรื่องแหล่งกำเนิด</p>
      </div>
      <div class="flex items-center lg:py-12 [&_img]:w-full md:hidden lg:block">
        {% image "static/img/hand-on-chest.png", "Hand with diamond", "400px" %}
      </div>
    </div>
  </div>
</div>
<div class="bg-parchment px-6">
  <div class="default-container py-16">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      {% image "static/img/thalyn-red.png", "Thalyn Diamond brand logo", "400px" %}
      {% for product in collections.products|head(7) %}
        <div>
          {% image eleventy.env.root + product.data.thumbnail, product.data.name, "400px" %}
          <h4 class="mt-4 font-fahkwang md:text-xl font-semibold text-primary mb-2 md:mb-4">{{ product.data.name }}</h3>
          <p class="font-fahkwang text-primary mb-2 md:mb-4">{{ product.data.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="bg-primary">
  <div class="default-container">
    <div class="grid md:grid-cols-3">
      <div class="bg-center bg-cover relative [&>picture>img]:object-cover [&>picture>img]:h-full">
        {% image 'static/img/focus-hand.png', "Ring on the hand", "600px" %}
        <div class="absolute inset-0 py-24 px-14 md:px-6 lg:px-10">
          {% image 'static/img/thalyn-lab-grown-diamon.png', 'Thalyn diamond brand logo', "600px" %}
        </div>
      </div>
      <div class="pt-36 px-8 lg:px-24 flex items-end pb-12 bg-top bg-cover md:col-span-2 relative overflow-hidden">
        <p class="text-white font-prompt font-extralight z-10">
          <span class="font-medium">Thalyn Diamond</span>
          ประสบการณ์เกือบ 50 ปี ส่งต่อจากรุ่นสู่รุ่น โดยเริ่มจากความเชี่ยวชาญของคุณพ่อ ที่เป็นช่างคัดเพชร ช่างทอง
          ด้วยพฤติกรรมของคนยุคใหม่ที่เปลี่ยนไป จึงได้ทำการ
          <span class="font-medium">"Rebranding"</span>
          ร้านเพชรให้เข้าถึงง่าย ทุกคนเข้าถึงเพชรเม็ดใหญ่ คุณภาพดี ในราคาจับต้องได้  จึงเป็นที่มาของ
          <span class="font-medium">"Thalyn Diamond" เพชรแท้ LabGrown
          </span>
          เจ้าแรก เจ้าเดียวในเชียงใหม่ ใหญ่ที่สุดในภาคเหนือ และเรายังมีสาขาที่ กรุงเทพ
          อีกด้วย
        </p>
        <div class="absolute inset-0 [&_img]:h-full [&_img]:object-cover [&_img]:object-top">
          {% image 'static/img/store-black-and-white-2.png', "Thalyn Diamond storefront", "1000px" %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-20 px-6 relative">
  <div class="default-container">
    <h2 class="text-lg font-prompt font-normal">Testimonials</h2>
    <p class="font-prompt font-semibold text-primary mb-8 text-4xl">รีวิวจากลูกค้าของเรา</p>
    <div class="grid md:grid-cols-3 mb-12 gap-6">
      <div class="shadow bg-gray-100 p-6 relative z-50">
        <div class="flex items-center [&_m]:rounded-full mb-6">
          {% image './static/img/vathinee.png', 'Customer image', '40px' %}
          <div class="ml-4">
            <p class="font-bold">Vathinee B.</p>
            <p class="text-gray-600">ลูกค้างานแหวนแต่งงาน custom made</p>
          </div>
        </div>
        <p class="mb-6 text-gray-600">
          We had the most wonderful experience with Thalyn Diamond for our wedding rings. The service provided by the owners was
          exceptional—they were incredibly kind and professional throughout the entire process. They truly understood our vision
          and delivered rings that were absolutely beautiful and exactly what we wanted. The quality of the craftsmanship is
          outstanding, and the price was unbeatable.
        </p>
        <div>
          {% for i in range(5) %}
            <i class="fas fa-star text-yellow-400"></i>
          {% endfor %}
        </div>
      </div>
      <div class="shadow bg-gray-100 p-6 relative z-50">
        <div class="flex items-center [&_m]:rounded-full mb-6">
          {% image './static/img/nattaporn.png', 'Customer image', '40px' %}
          <div class="ml-4">
            <p class="font-bold">Nattaporn S.</p>
            <p class="text-gray-600">ลูกค้างานเครื่องประดับ</p>
          </div>
        </div>
        <p class="mb-6 text-gray-600 font-prompt">
          ร้านนี้มีคนแนะนำมา ตอนแรกยังลังเลเพราะเห็นเพิ่งเปิด แอบกลัว 555 แต่ราคาเค้าน่ารักมาก
          บวกกับกำลังหาแหวนที่ใส่ทุกวันแทนแหวนแต่งงานแบบไม่ต้องกังวลในการดูแลรักษามากนัก ก็เลยลองสั่งมาดู ผลคือ เพชรสวยมาก
          คุณภาพเกินราคา ตัวแหวนก็แข็งแรงสวยงาม สำคัญคือเจ้าของร้านบริการเองเลย ไม่ว่าจะให้คำแนะนำ หาแบบที่เข้ากับเรา
          แม้แต่เราบอกว่าอยู่กรุงเทพนะไม่สะดวกขึ้นไปเชียงใหม่ ก็คือส่งมาได้ไม่มีปัญหาใดๆ แถมรอไม่นาน after sevice ก็ปัง
          ตอนหลังคือเข้าคอร์สลดนน. แหวนหลวม ส่งกลับไปแก้ไซส์ โชคดีเค้าเปิดเพิ่มหลายสาขามาก มีหน้าร้านที่กรุงเทพแล้ว
          ไม่ต้องส่งไปถึงเชียงใหม่ เจ้าของร้านก็คือ จัดการให้เร็วมาก
          เป็นร้านที่ประทับใจตั้งกะเริ่มซื้อจนซื้อจบไปหลายเดือนก็ยังประทับใจอยู่ แนะนำเลยค่ะ💘🪻🌼
        </p>
        <div>
          {% for i in range(5) %}
            <i class="fas fa-star text-yellow-400"></i>
          {% endfor %}
        </div>
      </div>
      <div class="shadow bg-gray-100 p-6 relative z-50">
        <div class="flex items-center [&_m]:rounded-full mb-6">
          {% image './static/img/josh.png', 'Customer image', '40px' %}
          <div class="ml-4">
            <p class="font-bold">Josh B.</p>
            <p class="text-gray-600">ลูกค้างานแหวนแต่งงาน custom made</p>
          </div>
        </div>
        <p class="mb-6 text-gray-600">
          My wife and I had an exceptional experience with Thalyn Diamond in Chiang Mai. From start to finish, their service was
          impeccable. We wanted custom-made wedding rings, and they exceeded our expectations in every way. The craftsmanship is
          stunning, and the rings were exactly how we envisioned them.
        </p>
        <div>
          {% for i in range(5) %}
            <i class="fas fa-star text-yellow-400"></i>
          {% endfor %}
        </div>
      </div>
    </div>
    <div>
      <a
        class="transition text-primary hover:underline py-4 pr-4 font-prompt"
        href="https://www.google.com/maps/place/Thalyn+Diamond+%E0%B9%80%E0%B8%9E%E0%B8%8A%E0%B8%A3+Lab+Grown+%E0%B9%80%E0%B8%88%E0%B9%89%E0%B8%B2%E0%B9%81%E0%B8%A3%E0%B8%81%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88/@18.7597733,99.0176284,15z/data=!4m8!3m7!1s0x30da2f005b98c50f:0xf932ec321dd57ace!8m2!3d18.7597733!4d99.0176284!9m1!1b1!16s%2Fg%2F11vws7r9xx?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D">
        ดูรีวิวทั้งหมด
      </a>
    </div>
  </div>
  <div class="absolute h-[500px] w-[500px] bg-red-100 rounded-full top-0 right-[100px] blur-[400px]"></div>
</div>
<div class="bg-parchment">
  <div class="default-container py-20">
    <div class="grid md:grid-cols-2">
      <div class="mb-6">
        <div class="flex justify-center mb-6">
          {% image "static/img/gia-01.png", "GIA certified diamonds", "180px" %}
        </div>
        <h3 class="font-fahkwang text-center text-primary font-medium text-xl mb-2">
          GIA (Gemological Institute of America)
        </h3>
        <p class="font-prompt text-primary text-center px-10 lg:px-20">
          สถาบันอัญมณีศาสตร์ของอเมริกา มีชื่อเสียงมาก ทั่วโลกให้การยอมรับ เป็นผู้กำหนดมาตรฐานของเพชร รายแรก ๆ ของโลก
        </p>
      </div>
      <div>
        <div class="flex justify-center">
          {% image "static/img/gia-02.png", "I.G.I. certified diamonds", "250px" %}
        </div>
        <h3 class="font-fahkwang text-center text-primary font-medium text-xl mb-2">
          IGI (International Gemological Institute)
        </h3>
        <p class="font-prompt text-primary text-center px-10 lg:px-20">
          สถาบันตรวจสอบเพชร ที่มีสาขากระจายอยู่ทั่วโลก มีห้องแล็บสำหรับการวิจัย เพื่อตรวจสอบเพชรและอัญมณีต่าง ๆ
        </p>
      </div>
    </div>
  </div>
</div></div></div>