---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

<div class="default-container py-24">
  <h1 class="mb-8">Tagged “{{ tag }}”</h1>
  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}
  <p class="mt-6">See
    <a href="/tags/" class="text-blue-600 hover:underline">all tags</a>.
  </p>
</div>