---
layout: layouts/base.njk
---

<div class="default-container py-12 px-6">
    <p class="mb-2 text-sm">
        <a href="/" class="inline-block text-neutral-600 hover:underline">HOME</a>
        /
        <a href="/products/" class="text-neutral-600 hover:underline">PRODUCTS</a>
    </p>
    <h1 class="mb-6 font-medium text-primary tracking-wider">{{ name }}</h1>
    <div class="max-w-full overflow-x-hidden [&_iframe]:max-w-full text-neutral-800 prose">
        {{ content|safe }}
    </div>
</div>
<div class="max-w-7xl px-6 grid grid-cols-1 md:grid-cols-2 gap-6 auto-cols-auto mx-auto">
    {% for image in images %}
        {% set imageDetails = (eleventy.env.root + image) | imageSize %}
        {% set isPortrait = imageDetails.height > imageDetails.width %}
        <div class="{% if isPortrait %}row-span-2{% endif %} relative flex items-stretch [&_img]:h-full [&_img]:object-cover">
            {% image eleventy.env.root + image, 'product image', "600px, 2000px", "(max-width: 600px) 600px, 2000px" %}
        </div>
    {% endfor %}
</div>
<div class="default-container py-12 px-6">
    <h1 class="mb-12 font-medium text-primary">Other Products</h1>
    <div
        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {# {% image eleventy.env.root + "/src/static/img/thalyn-red.png", "Thalyn Diamond brand logo", "400px" %} #}
        {% for product in collections.products|shuffle|head(3) %}
            {% if product.data.name != name %}
                <div class="group relative [&_img]:hover:scale-125 [&_img]:duration-500 overflow-hidden [&_*]:transition">
                    <div class="overflow-hidden">
                        {% image eleventy.env.root + product.data.thumbnail, product.data.name, "600px" %}
                    </div>
                    <h4 class="group-hover:underline mt-4 font-fahkwang md:text-xl font-light text-primary mb-2 md:mb-4">{{ product.data.name }}</h3>
                    {# <p class="font-fahkwang text-gray-600 mb-2 md:mb-4">{{ product.data.description }}</p> #}
                    <a href="{{ product.url }}" class="font-fahkwang text-gray-600 group-hover:underline stretched-link"></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>